<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WeatherOptics Satellite</title>
    <!-- tab icon -->
    <link rel="icon" href="file:///D:/cwhit567/My%20Documents/Sublime%20Text/Dashboards/round_logo.png" type="image/png">
    <!-- plugins:css -->
    <link rel="stylesheet" href="file:///D:/cwhit567/My%20Documents/Sublime%20Text/Dashboards/WeatherOptics_Dashboard/template/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="file:///D:/cwhit567/My%20Documents/Sublime%20Text/Dashboards/WeatherOptics_Dashboard/template/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="file:///D:/cwhit567/My%20Documents/Sublime%20Text/Dashboards/WeatherOptics_Dashboard/template/css/style.css">
    <!-- fontawesome kit code -->
    <script src="https://kit.fontawesome.com/1868a14f8e.js" crossorigin="anonymous"></script>
    <!-- map settings -->
    <link rel="stylesheet" href="satellite.css">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.js"></script>
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <h3 style="color: steelblue" class="sidebar-brand brand-logo" href="#">WeatherOptics</h3>
          <h3 style="color: steelblue" class="sidebar-brand brand-logo-mini" href="#">WO</h3>
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img style="width: 38px;" alt="logo" src="file:///D:/cwhit567/My%20Documents/Sublime%20Text/Dashboards/round_logo.png"></img>
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 style="color: white;" class="mb-0 font-weight-normal">Pro Member</h5>
                  <span></span>
                </div>
              </div>
              <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
              <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i style="color: steelblue;" class="fa-solid fa-user"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Account Details</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i style="color: red;" class="fa-solid fa-info"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Learn More</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i style="color: green;"class="fa-solid fa-envelope"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Contact Us</p>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Dashboard</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="#">
              <span class="menu-icon">
                <i class="fa-solid fa-house"></i>
              </span>
              <span class="menu-title">Home</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#radar" aria-expanded="false" aria-controls="radar">
              <span class="menu-icon">
                <i class="mdi mdi-radar"></i>
              </span>
              <span class="menu-title">Radar</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="radar">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="#">2D Radar</a>
                <li class="nav-item"> <a class="nav-link" href="#">3D Radar</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#satellite" aria-expanded="false" aria-controls="satellite">
              <span class="menu-icon">
                <i class="fa-solid fa-satellite"></i>
              </span>
              <span class="menu-title">Satellite</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="satellite">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="#">Visible (500m)</a>
                <li class="nav-item"> <a class="nav-link" href="#">Day & Night (1km)</a>
                <li class="nav-item"> <a class="nav-link" href="#">Infrared (2km)</a>
                <li class="nav-item"> <a class="nav-link" href="#">Enhanced Infrared (2km)</a>
                <li class="nav-item"> <a class="nav-link" href="#">Infrared Rainbow (2km)</a>
                <li class="nav-item"> <a class="nav-link" href="#">Water Vapour (2km)</a>
              </ul>
            </div>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#compare" aria-expanded="false" aria-controls="compare">
              <span class="menu-icon">
                <i class="mdi mdi-compare"></i>
              </span>
              <span class="menu-title">Compare</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="compare">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="#">Radar-Doppler</a>
                <li class="nav-item"> <a class="nav-link" href="#">Radar-Satellite</a>
                <li class="nav-item"> <a class="nav-link" href="#">Radar-Water Vapour</a>
                <li class="nav-item"> <a class="nav-link" href="#">Doppler-Satellite</a>
              </ul>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Other</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#resources" aria-expanded="false" aria-controls="resources">
              <span class="menu-icon">
                <i class="fa-solid fa-shapes"></i>
              </span>
              <span class="menu-title">Other Resources</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="resources">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="#">Websites</a>
                <li class="nav-item"> <a class="nav-link" href="#">Apps</a>
              </ul>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Help</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#help" aria-expanded="false" aria-controls="help">
              <span class="menu-icon">
                <i class="mdi mdi-help"></i>
              </span>
              <span class="menu-title">Help</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="help">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="#">2D Radar</a>
                <li class="nav-item"> <a class="nav-link" href="#">Hail Tracker</a>
                <li class="nav-item"> <a class="nav-link" href="#">Satellite</a>
                <li class="nav-item"> <a class="nav-link" href="#">3D Radar</a>
                <li class="nav-item"> <a class="nav-link" href="#">Other</a>
              </ul>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Settings</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="#">
              <span class="menu-icon">
                <i class="fa-solid fa-gear"></i>
              </span>
              <span class="menu-title">Settings</span>
            </a>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Documentation</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="file:///D:/cwhit567/My%20Documents/Sublime%20Text/Dashboards/WeatherOptics_Dashboard/documentation/documentation.html#credits">
              <span class="menu-icon">
                <i class="fa-solid fa-book"></i>
              </span>
              <span class="menu-title">Documentation</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <h3 style="color: steelblue" class="navbar-brand brand-logo-mini" href="#">WO</h3>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
                <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                  <input type="text" class="form-control" placeholder="Search products">
                </form>
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">
              <li class="nav-item dropdown d-none d-lg-block">
                <a class="nav-link btn btn-success create-new-button" id="createbuttonDropdown" data-toggle="dropdown" aria-expanded="false" href="#">+ Create New Project</a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="createbuttonDropdown">
                  <h6 class="p-3 mb-0">Projects</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-file-outline text-primary"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject ellipsis mb-1">Software Development</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-web text-info"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject ellipsis mb-1">UI Development</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-layers text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject ellipsis mb-1">Software Testing</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <p class="p-3 mb-0 text-center">See all projects</p>
                </div>
              </li>
              <li class="nav-item nav-settings d-none d-lg-block">
                <a class="nav-link" href="#">
                  <i class="mdi mdi-view-grid"></i>
                </a>
              </li>
              <li class="nav-item dropdown border-left">
                <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                  <i class="mdi mdi-email"></i>
                  <span class="count bg-success"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                  <h6 class="p-3 mb-0">Messages</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <img src="assets/images/faces/face4.jpg" alt="image" class="rounded-circle profile-pic">
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject ellipsis mb-1">Mark send you a message</p>
                      <p class="text-muted mb-0"> 1 Minutes ago </p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <img src="assets/images/faces/face2.jpg" alt="image" class="rounded-circle profile-pic">
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject ellipsis mb-1">Cregh send you a message</p>
                      <p class="text-muted mb-0"> 15 Minutes ago </p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <img src="assets/images/faces/face3.jpg" alt="image" class="rounded-circle profile-pic">
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject ellipsis mb-1">Profile picture updated</p>
                      <p class="text-muted mb-0"> 18 Minutes ago </p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <p class="p-3 mb-0 text-center">4 new messages</p>
                </div>
              </li>
              <li class="nav-item dropdown border-left">
                <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                  <i class="mdi mdi-settings"></i>
                  <span class="count bg-danger"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                  <h6 class="p-3 mb-0">Map Settings</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-opacity text-primary"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <div class="map-overlay-inner">
                        <label>Radar opacity: <span id="slider-value">100%</span></label><br>
                        <input id="slider" type="range" min="0" max="100" step="0" value="100" class="slider">
                      </div>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-settings text-primary"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">

                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-link-variant text-warning"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Launch Admin</p>
                      <p class="text-muted ellipsis mb-0"> New admin wow! </p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <p class="p-3 mb-0 text-center">See all notifications</p>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                  <div class="navbar-profile">
                    <img class="img-xs rounded-circle" src="file:///D:/cwhit567/My%20Documents/Sublime%20Text/Dashboards/round_logo.png" alt="">
                    <p class="mb-0 d-none d-sm-block navbar-profile-name">Pro Member</p>
                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                  <h6 class="p-3 mb-0">Profile</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-settings text-success"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Settings</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-logout text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Log out</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <p class="p-3 mb-0 text-center">Advanced settings</p>
                </div>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-lg-12 grid-margin">
                <div class="settings-card">
                  <div class="settings-card-body">
                    <h4 class="card-title">Satellite Settings</h4>
                    <div class="template-demo">
                      <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Area</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <a class="dropdown-item" href="#">National</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">NSW</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">NT</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Qld</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">SA</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Tas</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Vic</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">WA</a>
                        </div>
                      </div>
                      <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Satellite Product</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <a class="dropdown-item" href="#">Visible (500m)</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Day & Night (1km)</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Infrared (2km)</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Enhanced Infrared (2km)</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Infrared Rainbow (2km)</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Water Vapour (2km)</a>
                        </div>
                      </div>
                    </div>
                  </div> 
                </div>
              </div>
            </div>  
                <div class="card">   
                  <div class="card-body">  
<!-- Start of map code -->            
<!-- Load the `mapbox-gl-geocoder` plugin. -->
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">

<div id='map'>
  <div id='menu'></div>

  <pre id="info">
    <span>Coordinates</span>
  </pre>
</div>
<!-- End of map code --> 
                  </div>
                </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="file:///D:/cwhit567/My%20Documents/Sublime%20Text/Dashboards/WeatherOptics_Dashboard/template/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="file:///D:/cwhit567/My%20Documents/Sublime%20Text/Dashboards/WeatherOptics_Dashboard/template/js/off-canvas.js"></script>
    <script src="file:///D:/cwhit567/My%20Documents/Sublime%20Text/Dashboards/WeatherOptics_Dashboard/template/js/hoverable-collapse.js"></script>
    <script src="file:///D:/cwhit567/My%20Documents/Sublime%20Text/Dashboards/WeatherOptics_Dashboard/template/js/misc.js"></script>
    <script src="file:///D:/cwhit567/My%20Documents/Sublime%20Text/Dashboards/WeatherOptics_Dashboard/template/js/settings.js"></script>
    <!-- endinject -->
    <!-- Map settings js -->
    <script src="satellite.js"></script>
    <!-- End Map settings js -->
  </body>
</html>