body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

#map {
    position: absolute;
    top: 0px; 
    bottom: 0px; 
    left: 0px;
    right: 0px;
    width: 100%;
}

#map canvas {
cursor: crosshair;
}

.mapboxgl-ctrl-bottom-left {
    visibility: hidden;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
    visibility: hidden;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
    border-radius: 25px;
}

#style-menu {
position: absolute;
background: #efefef;
padding: 10px;
font-family: 'Open Sans', sans-serif;
}

.map-overlay {
font: bold 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
position: absolute;
width: 10.5%;
top: 0;
left: 50px;
padding: 10px;
}
 
.map-overlay .map-overlay-inner {
background-color: #3887BE;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
border-radius: 3px;
padding: 10px;
margin-bottom: 10px;
color: #fff;
width: 100%;
}

.map-overlay .map-overlay-inner:hover {
    border-radius: 3px;
    color: white;
}
 
.map-overlay label {
display: block;
margin: 0 0 10px;
}
 
.map-overlay input {
background-color: lightgray;
display: inline-block;
width: 100%;
position: relative;
margin: 0;
cursor: ew-resize;
}

.map-overlay-inner {
bottom: 50%;
left: 0px;
width: 100%;
}

.slider {
    --background: lightgray;
    background: var(--background);
    -webkit-appearance: none;
    border-radius: 25px;
    height: 15px;
    width: 100%;
}

.slider:hover {
    --background: white;
    background: var(--background);
    -webkit-appearance: none;
    border-radius: 25px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 25px;
  background: rgba(0, 0, 100, 1);
  cursor: ew-resize;
}

#menu {
background: #fff;
position: absolute;
z-index: 1;
top: 90px;
left: 60px;
border-radius: 3px;
width: 12%;
border: 1px solid rgba(0, 0, 0, 0.4);
font-family: 'Open Sans', sans-serif;
}
 
#menu a {
font-size: 13px;
color: #404040;
display: block;
margin: 0;
padding: 0;
padding: 10px;
text-decoration: none;
border-bottom: 1px solid rgba(0, 0, 0, 0.25);
text-align: center;
}
 
#menu a:last-child {
border: none;
}
 
#menu a:hover {
background-color: #f8f8f8;
color: #404040;
}
 
#menu a.active {
background-color: #3887be;
color: #ffffff;
}
 
#menu a.active:hover {
background: #3074a4;
}

.legend {
position: absolute;
height: auto;
width: auto;
top: 20px;
bottom: 20px;
left: 15px;
background-color: transparent;
opacity: 1;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
border-radius: 3px;
padding: 5px;
z-index: 1;
}

#legend-image {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    opacity: 1;
}

#info {
display: table;
position: relative;
margin: 0px auto;
word-wrap: anywhere;
white-space: pre-wrap;
padding: 10px;
border: none;
border-radius: 3px;
font-size: 12px;
text-align: center;
color: #fff;
background: rgba(0, 0, 0, 0.7);
z-index: 1;
}

@media (max-width: 667px) {
    
body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

#map {
    position: absolute; 
    top: 0; 
    bottom: 0px; 
    left: 0;
    right: 0;
    width: 100%;
    border-bottom-left-radius: 0;
}   
    
.map-overlay {
font: bold 10px/12px 'Helvetica Neue', Arial, Helvetica, sans-serif;
position: fixed;
width: 80%;
bottom: 0;
left: 15%;
padding: 10px;
}
 
.map-overlay .map-overlay-inner {
position: fixed;
border-radius: 3px;
padding: 10px;
margin-bottom: 10px;
bottom: 0;
right: 0;
width: 90%;
}

.map-overlay .map-overlay-inner:hover {
    border-radius: 3px;
}
 
.map-overlay label {
display: block;
margin: 0 0 10px;
}
 
.map-overlay input {
background-color: lightgray;
display: inline-block;
width: 100%;
position: relative;
margin: 0;
cursor: ew-resize;
}

.map-overlay-inner {
bottom: 50%;
left: 0;
}

.slider {
    --background: lightgray;
    background: var(--background);
    -webkit-appearance: none;
    border-radius: 25px;
    height: 15px;
}

.slider:hover {
    --background: white;
    background: var(--background);
    -webkit-appearance: none;
    border-radius: 25px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 25px;
  background: rgba(0, 0, 100, 1);
}

#menu {
top: 80px;
left: 3%;
border-radius: 3px;
width: 15%;
border: 1px solid rgba(0, 0, 0, 0.4);
}
 
#menu a {
font-size: 8px;
color: #404040;
display: block;
margin: 0;
padding: 0;
padding: 10px;
text-decoration: none;
border-bottom: 1px solid rgba(0, 0, 0, 0.25);
text-align: center;
}
 
#menu a:last-child {
border: none;
}
 
#menu a:hover {
background-color: #f8f8f8;
color: #404040;
}
 
#menu a.active {
background-color: #3887be;
color: #ffffff;
}
 
#menu a.active:hover {
background: #3074a4;
}

.legend {
position: absolute;
height: auto;
width: 20px;
top: 20px;
bottom: 20px;
left: 8%;
background-color: transparent;
opacity: 1;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
border-radius: 15px;
padding: 15px;
}

#legend-image {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    opacity: 1;
}
}